[submodule "modules/csslint"]
	path = modules/csslint
	url = https://github.com/rhiokim/csslint
[submodule "modules/jslint"]
	path = modules/jslint
	url = git@github.com:rhiokim/JSLint.git
[submodule "modules/uglifyjs"]
	path = modules/uglifyjs
	url = https://github.com/rhiokim/UglifyJS
[submodule "modules/html-minifier"]
	path = modules/html-minifier
	url = git@github.com:rhiokim/html-minifier.git
[submodule "modules/node-compress"]
	path = modules/node-compress
	url = git@github.com:rhiokim/node-compress.git
[submodule "modules/node-css-compressor"]
	path = modules/node-css-compressor
	url = git@github.com:rhiokim/node-css-compressor.git
[submodule "modules/node-findit"]
	path = modules/node-findit
	url = git@github.com:rhiokim/node-findit.git
[submodule "modules/jshint"]
	path = modules/jshint
	url = git@github.com:rhiokim/jshint.git
[submodule "modules/node-minify"]
	path = modules/node-minify
	url = https://github.com/srod/node-minify.git
